<h1>New addition</h1>

<form action = "/wizard_add">
  <label for="num1">Add this:</label>
  <input id="num1" type="test" name="first_num">

  <label for="num2">to this:</label>
  <input id="num2" type="test" name="second_num">

  <button>Add!</button>
</form>